$color-primary: #FF6060;
$color-white: white;
$font-size-large: 36px;
$font-size-medium: 18px;
$font-size-small: 14px;
$border-radius: 15px;

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px 0;
    gap: 20px;

    .title {
        font-size: $font-size-large;
        color: $color-primary;
    }

    .location {
        font-size: $font-size-medium;
    }

    .host {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: $font-size-medium;
        color: $color-primary;

        img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
    }
}

.tags-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px 0;

    .tags {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        color: $color-white;
        width: 49%;

        .tag {
            font-size: $font-size-small;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-primary;
            border-radius: $border-radius;
            height: 25px;
            width: 49%;
            text-overflow: ellipsis; 
            overflow: hidden;        
            white-space: nowrap;
    }
}
}

.collapsesLog {
    display: flex;
    flex-direction: row;
    margin: 30px 100px;
    gap: 30px;

    .collapse {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .description {
        flex-direction: column;
        margin: 10px 40px;

        .host {
            margin-top: 20px;
        }
    }

    .tags-rating {
        flex-direction: column;
        margin: 0 40px;

        .tags {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .collapsesLog {
        flex-direction: column;
        margin: 30px 40px;
    }
}
