.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 100px 0;
  height: 223px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../components/images/banner-home.png);
  background-position: center;
  background-size: cover;
  p {
    color: white;
    font-weight: 700;
    font-size: 48px;
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px 100px 0;
  gap: 6%;
}

@media screen and (max-width: 1024px) {
  .banner {
    margin: 0 40px;
    p {
      font-size: 24px;
      margin: 10px;
    }
  }

  .gallery {
    margin: 30px 40px;
    flex-direction: column;
  }
}
