nav {
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin: 0;

            a {
                text-decoration: none;
                color: black;
                font-size: 24px;
                white-space: nowrap;
                width: 100%;
            }
    }
}

.active {
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1024px) {
    nav {
        padding: 25px 50px;

        ul {
            flex-wrap: nowrap;
            gap: 26px;

            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }

    img {
        width: 145px;
        height: 46.88px;
    }
}
